/* Custom variables
 ========================================================================== */


//
// Layout
//

@appbar-width:                          @global-height-large;
@appbar-height:                         100vh;
@appbar-background:                     darken(@global-dark-background, 5%);

@app-width:                             ~"calc(100% - @appbar-width)";
@app-height:                            100vh;
@app-background:                        @global-background;
@app-left-margin:                       @appbar-width;

@sidebar-min-width:                     220px;
@sidebar-height:                        100vh;
@sidebar-background:                    @global-dark-background;
@sidebar-padding:                       @global-margin;

@topbar-height:                         @global-height-large;
@topbar-background:                     @global-light-background;

@toolbar-padding:                       @global-margin-mini @global-margin-small;
@toolbar-border:                        1px solid @global-border;

@con-list-height:                       ~"calc(100vh - (@topbar-height + (2 * @global-margin-mini) + @button-height))";
@con-list-font-size:                    12px;
@con-list-line-height:                  18px;

//
// Components
//

@app-icon-width:                        @appbar-width;
@app-icon-height:                       @app-icon-width;
@app-icon-background:                   @appbar-background;
@app-icon-color:                        fade(@global-contrast-color, 30%);
@app-icon-line-height:                  @app-icon-height;
@app-icon-hover-color:                  fade(@global-contrast-color, 70%);
@app-icon-active-color:                 @global-contrast-color;
@app-icon-active-background:            @global-dark-background;

@con-list-item-background:              #edeff2;
@con-list-item-padding:                 @global-margin-mini @global-margin-small;
@con-list-item-border:                  @global-border-width solid @global-border;
@con-list-item-unread-background:       @global-background;

@con-list-item-checkbox-width:          20px;

@con-list-item-icons-width:             30px;

@con-list-item-date-width:              90px;

@con-list-item-subject-width:           ~"calc(100% - (@con-list-item-checkbox-width + @con-list-item-icons-width + @con-list-item-date-width + 20px))";
@con-list-item-subject-font-size:       14px;

@con-list-item-sender-font-size:        14px;
@con-list-item-sender-font-weight:      bold;
@con-list-item-sender-margin-left:      25px;
@con-list-item-sender-width:            ~"calc(100% - @con-list-item-sender-margin-left)";


/* Custom components
 ========================================================================== */

body {}

//
// Layout
//

// Appbar

.pm-appbar {
    width: @appbar-width;
    height: @appbar-height;
    background: @appbar-background;
    position: absolute;
    left: 0;
    box-shadow: inset -10px 0 10px 0px rgba(0,0,0,0.1);
}

// App

.pm-app {
    width: @app-width;
    background: @app-background;
    height: @app-height;
    display: inline-block;
    position: absolute;
    left: @app-left-margin;
}

.pm-app > .uk-grid { margin-left: 0px !important; }

// App - Sidebar

.pm-sidebar {
    min-width: @sidebar-min-width !important;
    height: @sidebar-height;
    background: @sidebar-background;
    padding: @sidebar-padding;
    display: inline-block;
}

// App - Topbar

.pm-topbar {
    height: @topbar-height;
    background: @topbar-background;
    display: inline-block;
    padding: 0;
}

// App - Content

.pm-content { display: inline-block; }

// App - Content - Toobar

.pm-toolbar {
    padding: @toolbar-padding;
    border-bottom: @toolbar-border;
}

// App - Content - Conversation List

.pm-con-list {
    height: @con-list-height;
    font-size: @con-list-font-size;
    line-height: @con-list-line-height;
    padding: 0;
    overflow-y: scroll;
}

// App - Content - Conversation View

.pm-con-view { padding: 0; }


//
// Components
//

// Appbar

.pm-app-icon {
    width: @app-icon-width;
    height: @app-icon-height;
    background: @app-icon-background;
    color: @app-icon-color;
    text-align: center;
    line-height: @app-icon-line-height;
    display: inline-block;
    box-shadow: inset -10px 0 10px 0px rgba(0,0,0,0.1);
    border-bottom: 1px solid rgba(0,0,0,0.15);

    &:hover {
        color: @app-icon-hover-color;
        box-shadow: inset -10px 0 10px 0px rgba(0,0,0,0.01);
    }

}

.pm-app-icon-active.pm-app-icon {
    background: @app-icon-active-background;
    color: @app-icon-actove-color;
    box-shadow: inset 0px 1px 0px 0px rgba(255,255,255,0.05);
}

// Conversation List Item

.pm-con-list-item {
    background: @con-list-item-background;
    padding: @con-list-item-background;
    border-bottom: @con-list-item-border;
}

.pm-con-list-item:hover { box-shadow: inset 0 0 10px 10px rgba(0,0,0,0.03); }

.pm-con-list-item-unread { background: @con-list-item-unread-background; }

.pm-con-list-item-checkbox {
    width: @con-list-item-checkbox-width;
    display: inline-block;
}

.pm-con-list-item-subject {
    width: @con-list-item-subject-width;
    font-size: @con-list-item-subject-font-size;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: inline-block;
}

.pm-con-list-item-icons,
.pm-con-list-item-date { display: inline-block; }

.pm-con-list-item-icons { width: @con-list-item-icons-width; }

.pm-con-list-item-date {
    width: @con-list-item-date-width;
    text-align: right;
}

.pm-con-list-item-bottom { position: relative; }

.pm-con-list-item-sender {
    width: @con-list-item-sender-width;
    font-size: @con-list-item-sender-font-size;
    margin-left: @con-list-item-sender-margin-left;
    font-weight: @con-list-item-sender-font-weight;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: inline-block;
}

.pm-label-list {
    padding-right: 5px;
    display: inline-block;
    background: #edeff2;
    position: absolute;
    right: 0;

    &:before {
        content: '';
        position: absolute;
        width: 30px;
        height: 18px;
        left: -30px;
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,1+100;Neutral+Density */
        background: -moz-linear-gradient(left, rgba(0,0,0,0) 0%, #edeff2 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(left, rgba(0,0,0,0) 0%,#edeff2 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right, rgba(0,0,0,0) 0%,#edeff2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    }

}

.pm-label {
    font-size: 8px;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 12px;
    color: @global-contrast-color;
    height: 14px;
    border-radius: 9px;
    padding: 0px 6px;
    display: inline-block;
    border: 2px solid @global-border;
    float: right;
}

.pm-label-collapsed.pm-label {
    max-width: 2px;
    position: relative;
    margin-right: -5px;

    & span { display: none; }

    &:before {
        content: '';
        position: absolute;
        left: -2px;
        top: -2px;
        width: 8px;
        height: 18px;
        overflow: auto;
        background: #edeff2;
        border-right-bottom-radius: 14px;
        border-right-top-radius: 14px;
    }

    &:hover {
        max-width: 100%;
        margin-left: 7px;

        & span { display: inline; }
        &:before { display: none; }

    }
}

// Label ID's
#label-protonmail { border-color: #9199cb; color: #9199cb; }
#label-work { border-color: #4894e9; color: #4894e9; }
#label-important { border-color: #ed1515; color: #ed1515; }
#label-private { border-color: #64cc2c; color: #64cc2c; }
#label-family { border-color: #b72ccc; color: #b72ccc; }

.pm-con-list-item-active {
    background: @global-light-background;

    .pm-label-list {
        background: @global-light-background;

        &:before {
            /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,1+100;Neutral+Density */
            background: -moz-linear-gradient(left, rgba(0,0,0,0) 0%, @global-light-background 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(left, rgba(0,0,0,0) 0%,@global-light-background 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to right, rgba(0,0,0,0) 0%,@global-light-background 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        }

    }

    .pm-label-collapsed.pm-label:before { background: @global-light-background; }

}


.pm-badge-nav { margin: 1px 0; }
.pm-checkbox-nav { margin: 2px 0; }



/* remove standard-styles */
.pm-custom-checkbox input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border:none;
  border-radius: 0;
  font-size: 1em;
  width: 100%
}

/* graceful degradation for ie8 */
.pm-custom-checkbox input[type='checkbox'],
.pm-custom-checkbox input[type='radio'] {
  width:auto;
  float:left;
  margin-right: .75em;
  background:transparent;
  border:none;
}

.pm-custom-checkbox input[type='checkbox']:checked,
.pm-custom-checkbox input[type='checkbox']:not(:checked),
.pm-custom-checkbox input[type='radio']:checked,
.pm-custom-checkbox input[type='radio']:not(:checked) {
  background: transparent;
  position: relative;
  display: none;
  margin:0;
  padding:0;
}

.pm-custom-checkbox input[type='checkbox'] + label,
.pm-custom-checkbox input[type='radio'] + label {
  cursor: pointer;
}


.pm-custom-checkbox input[type='checkbox']:checked + label::before,
.pm-custom-checkbox input[type='checkbox']:not(:checked) + label::before,
.pm-custom-checkbox input[type='radio']:checked + label::before,
.pm-custom-checkbox input[type='radio']:not(:checked) + label::before {
    content:' ';
    display:inline-block;
    width: 12px;
    height:12px;
    position: relative;
    border: 1px solid darken(@global-dark-background, 10%);
    background: transparent;
    box-shadow: inset 0 1px 1px 0 rgba(0,0,0,.1);
}

.pm-custom-checkbox input[type=radio]:checked + label::before,
.pm-custom-checkbox input[type=radio]:not(:checked) + label::before {
  border-radius: 30px;
}

.pm-custom-checkbox input[type='checkbox']:hover  + label::before,
.pm-custom-checkbox input[type='radio']:hover  + label::before {
  background: @global-background;
  box-shadow: inset 0 0 0 4px @global-dark-background;
}

.pm-custom-checkbox input[type='checkbox']:checked  + label::before,
.pm-custom-checkbox input[type='radio']:checked  + label::before {
  background: @global-primary-background;
  box-shadow: inset 0 0 0 4px @global-dark-background;
}
